<%- include('./partials/header.ejs')  %> 
<body>
    <h1> Became an admin</h1>
    <form action="/admin" method="post">
        <label for="adminPassword"> Enter Admin Password:</label>
        <input type="password" name="adminPassword" required>
        <button><a href="/"> Go back</a></button>
       <button type="submit">Submit</button>
    </form>
    <% if (locals.errors){ %>
        <ul class='errors'>
          <% locals.errors.forEach(function(message) {  %>
            <li><%= message.msg %></li>
          <% } ); %>
        </ul>
        <% } %>
</body>
</html>