<%- include('./partials/header.ejs')  %> 
<%- include('./partials/nav.ejs')  %> 

<body>
    <div class="admin-nav bg-secondary " >
      <h3 class="text-center"> Became an admin</h3>
    </div>
   
    <form action="/admin" method="post" class="admin-form">
        <div>
          <% if (locals.errors){ %>
              <% locals.errors.forEach(function(message) {  %>
                <div class="alert alert-danger" role="alert" >
                  <li><%= message.msg %></li>
                </div>
                
              <% } ); %>
            
            <% } %>
        </div>
        <div class="form-group">
          <label for="adminPassword"> Enter Admin Password:</label>
          <input type="password" class="form-control" name="adminPassword" required>
        </div>
        <div class="btn-container">
          <a href="/" class="btn btn-primary"> Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
    </form>
    
</body>
</html>