<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/editMessage/<%= message._id %> " method="Post">
        <label for="title"> Title: </label>
        <input type="text" name="title" id="title" value="<%= typeof message !='undefined'?message.title:''  %> " required>

        <label for="message">Message:</label>
        <input type="text" name="message" id="message" value="<%= typeof message!='undefined'?message.message:'' %> " required>
        <button>Post</button>
    </form>
</body>
</html>