<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1 class="title"> Members Only</h1>
      <div >
        <a href="/log-in">Log in</a>
        <a href="/sign-up">Sign up</a>
      </div>
    
    </nav>

    <section class="content">

    </section>
  </body>
</html>
