<%- include('./partials/header.ejs')  %> 
<%- include('./partials/nav.ejs')  %>
<body>
     <% if (typeof success!='undefined'&& success.length>0){%>
        <% success.forEach(ele => {%>
            <div class="alert alert-success" role="alert" >
                <h3><%= ele  %> </h3>
            </div>
        <% }) %> 
     <% } %> 

     <% if (typeof error!='undefined'&& error.length>0){%>
        <% error.forEach(err => {%>
            <div class="alert alert-danger" role="alert" >
                <h3><%= err  %> </h3>  
            </div>
        <% }) %> 
     <% } %>
    <form action="/log-in" method="post">
        <label for="username">User name:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        
        <button>Log in</button>
    </form>
    <a href="/">Back</a>
</body>
</html>