<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sign-up" method="post" enctype="multipart/form-data">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" id="first_name" required>

        <label for="last_name">Last name:</label>
        <input type="text" name="last_name" id="last_name" required>

        <label for="username">User name:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <label for="confirmPassword"> Confirm password</label>
        <input type="password" id="confirmPassword" name="confirmPassword">

        <label for="picture">Upload Profile Picture:</label>
        <input type="file" name="avatarURL" id="picture">
        
        <% for(let i=0 ; i <errors.length ; i++){ %>
            <p><%= errors[i]  %> </p>
       <% } %> 

        <button>Create account</button>
    </form>
    <a href="/">Back</a>
</body>
</html>