html{
  scroll-behavior: smooth;
  margin: 0;
  padding:0;
 
}
body {
  padding: 0;
  background-color: rgba(134, 134, 134, 0.322);
}

nav{
  padding: 24px;
}
.navbar-brand{
  text-decoration: none;
  font-size:33px  ;
  font-weight: 900;
  color:azure;
}

.bi-house-fill{
  font-size: 36px;
  position:absolute;
  top: 5px;
}

#navbarNavDropdown{
  display: flex;
  justify-content: flex-end;
  
}
.navbar-nav{
  display: flex;
  flex-direction: row;
  gap:10px;
}
.user-name{
  color:white;
  font-size: 25px;
  font-weight: 800;
}


.bi-plus-square-fill{
  font-size: 36px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.errors-container{
  margin:10px;
  font-size: 26px;
}
.content{
  padding:20px;
  width: 60%;
  margin:5px auto;
  
}
.card{
  border-radius:1rem;
  margin: 12px;
  box-shadow: 0 0 10px;
}
.card :hover{
   
}
.card-header{
  color:rgba(0, 0, 0, 0.63);
  font-size: 22px;
  font-weight: 600;
}
.card-body{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-body >div{
  align-self: flex-end;
}
.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

  .card-body >div> a {
    align-self: flex-end;
  color:rgba(0, 0, 0, 0.349);
  font-size: 20px;
}
.card-body >div :hover{
  color:black;
}

.login-form{
  border:1px gray solid;
  border-radius: 5px;
  padding:25px;
  margin: 40px auto;
  width: 60%;
  height: 30%;
}
.login-form>div{
  margin:10px;
}

.login-btn{
 align-self: center;
}
.signup-form{
  border:1px gray solid;
  border-radius: 5px;
  padding:25px;
  margin: 40px auto 0;
  width: 60%;
  min-height: 60%;
  
}

.signup-form>.btn-container ,
.createmessage-form>.btn-container,
.editmessage-form>.btn-container{
  text-align: center;
}
.signup-form>.btn-container>button,
.createmessage-form>.btn-container>button,
.editmessage-form>.btn-container>button{
  font-weight: 600;
}

.createmessage-form,
.editmessage-form,
.admin-form{
  border:1px gray solid;
  border-radius: 5px;
  padding:25px;
  margin: 40px auto 0;
  width: 60%;
  
}
.createmessage-form>div,
.editmessage-form>div,
.admin-form>div{
  margin:10px;
}

.admin-nav{
  padding: 5px;
  color:rgba(150, 191, 228, 0.479);
  font-weight: 500;
}
.admin-nav>h3{
  text-shadow: 1px 1px white;
}

